body{
    background-color: ivory;
}

#Centralização{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form{
    margin: 5px;
}