h2{
    text-align: center;
}

body{
    background-color: lightgray;
}

.Cabeçalho{
    background-color: bisque;
    border: 2px solid darkblue;
    height: 200px;
}

.Menu{
    background-color: lightskyblue;
    height: 50px;
}

.Tabela_contato{
    padding: 0px;
    border: 4px dashed red;
    margin: auto;

}

th, td{
    border: 2px solid red;
}

th{
    color: red;
}

.Rodapé{
    background-color: bisque;
    height: 120px;
}

.a_Menu a{
    color: darkred;
    margin-left: 60px;
    margin-right: 60px;
}

.a_Menu{
    text-align: center;
    position: relative;
    left: 15px;
    right: 15px;
    top: 16px;
}

#C{
    position: relative;
    left: 10px;
    top: 10px;
}

#Java{
    position: absolute;
    right: 10px;
    top: 10px;
}

#HTML{
    position: relative;
    left: 10px;
    top: -30px;
}

#CSS{
    position: relative;
    right: -1300px;
    top: -30px;
    
}

#p_cabeçalho{
    color: green;
    text-align: center;
    font-size: 50pt;
    position: absolute;
    top: 10px;
    right: 25px;
    left: 25px;
}

#p_Rodapé{
    font-size: 15pt;
    font-family: Comic;
    text-align: center;
    position: relative;
    top: 20px;
}

.p_geral{
    color: indigo;
    font-size: 20pt;
    font-family: sans-serif;
    text-align: center;
}

.Livros{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.Link{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.Consulta{
    background-color: yellow;
    width: 500px;
    position: relative;
    margin: auto;
    
}

.a_consulta{
    margin-left: 50px;
    color: darkred;
}



