<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <form action="/criar_novo_post" method="get">
            <input type="submit" value="Realizar um novo cadastro de post">
        </form>
        
    </body>
</html>