<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <h1>Resposta</h1>
        <p>Nome:<%= status %></p>
        <p>Login:<%= login %></p>
        <p>Senha:<%= senha %></p>
        <p>Nascimento:<%= nasc %></p>
    </body>
</html>