<!DOCTYPE html>
<html>
    <head>
        <title>Resposta Login</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <h1>Resposta</h1>
        <p><%= status %></p>
    </body>
</html>