<!DOCTYPE html>
<html>
    <head>
        <title>Resposta Cadastro</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <h1>Resposta</h1>
        <p><%= status %></p>

        <a href="/LAB/Login.html">Voltar a página de login</a>

    </body>
</html>