<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
        <h1>Resposta</h1>
        <p>Nome: xxxx <%= status %></p>
        <p>Login: xxxx <%= login %></p>
        <p>Senha: xxxx <%= senha %></p>
        <p>Nascimento: xxxx <%= nasc %></p>
    </body>
</html>